body
{ 
  background-color: rgba(212, 173, 224, 0.904);
background-image: url(enlightenment1.jpg);
background-repeat: no-repeat;
background-size: cover;
font-size: 40px;
font: bold;
}
h1 {
font-size: 45px;
font: bold;
color: deepskyblue;
}
h2 {
    font-size: 30px;
    font: bold;
}
h3 {
font-size: 40px;
font: bolder;
color: rgb(61, 181, 155);
}
